

.form-row
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #fff;
     padding-bottom: 20px;
     font-size: 20px;
     font-family: 'poppins', sans-serif;
     border-bottom: 1px solid;
     font-weight: 300;
    



     }
form input[
    type = submit
]{
    color: #fff;
    background: #f2745f;
    padding: 10px 12px;
    border-radius: 10px;


}




